DATABASE_URL="postgresql://postgres:postgres@localhost:5432/icecreambike"
NEXT_PUBLIC_SITE_URL="https://www.icecreambike.se"
RESEND_API_KEY=""
STRIPE_SECRET_KEY=""
STRIPE_WEBHOOK_SECRET=""
SESSION_SECRET=""
ARGON2_PEPPER=""
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=""
